<!DOCTYPE html>

<html>
    <head>
        

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!-- BOOTSTRAP -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <!-- END BOOTSTRAP -->
        


        <title>{% block title %}Website Name{% endblock %}</title>
        
        <!-- SELECT2 -->
        <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
        <!-- END SELECT2 -->
        

        

    </head>
    <body>
        <style>
            .darkBlue {
              background-color: #1d3557;
              color: white;
            }
            .dropdown-toggle:hover {
              background-color: #457b9d;
              color: white;
            }
          </style>
        <nav class="navbar sticky-top navbar-expand-lg navbar-dark pt-3 pb-2 mb-4" style="background-color: #1d3557">
            <a class="navbar-brand ml-3" href="/">Website Name</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-between" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="{% url 'restaurants' %}">Restaurants</a>
                    </li>
                    
                    {% if request.user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link active" href="{% url 'ratings' %}">Your Reviews</a>
                    </li>
                    {% endif %}
                
                    <form class="form-inline mb-0 ml-5" action="{% url 'restaurants' %}" method="POST">
                        {% csrf_token %}
                        <input class="form-control mr-sm-2" method="POST" type="search" placeholder="Search Restaurants..." aria-label="Search" name="search">
                        <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Search</button>
                    </form>
                    
                </ul>
            </div>
            
            <div class="dropdown">
                <button class="btn darkBlue dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Account
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                {% if request.user.is_authenticated %}
                  <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
                  <a class="dropdown-item" href="{% url 'user-profile' user.id %}">Profile</a>
                {% else %}
                  <a class="dropdown-item" href="{% url 'login' %}">Login</a>
                {% endif %}
                </div>
              </div>

        
        </nav>

        {% if messages %}
        <ul class="messages">

            {% for message in messages %}
            <li>{{message}}</li>
            {% endfor %}
        </ul>
        {% endif %}

        <div id="content", name="content">

            {% block content %}
                    
            {% endblock %}
        </div>
<!-- BOOTSTRAP -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<!-- END BOOTSTRAP -->
<!-- SCRIPT FOR JQUERY -- DROPDOWN LIST -->
        <script
        src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
        crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
        <script>
            $(document).ready(function() {
                $('#ddl').select2();
            });
        </script>
<!-- END SCRIPT -->
    </body>
</html>