{% extends 'restaurants/base.html' %}

{% block content %}

<style type="text/css">
    .darkBlue {
        background-color: #1d3557;
        color: white;
      }
    .btn:hover {
        background-color: #457b9d;
        color: white;
      }
    .container div {
        margin: 0 auto;
        display: block;
    }
</style>

<div class="modal fade" id="myModal" data-backdrop="static">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Delete Review?</h5>
                <button type="button" id="modalClose" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                
                <form method="POST" action="">
                    {% csrf_token %}
                    <p>Are you sure you want to delete your {{rating.restaurant}} review?</p>
                    <a class="btn btn-secondary" href="{{request.META.HTTP_REFERER}}">Cancel</a>
                    <input type="submit" value="Delete" class="btn darkBlue"/>
                </form>
            </div>
        </div>
    </div>
</div>


{% endblock %}