{% extends 'restaurants/base.html' %}

{% block title%}Home{%endblock%}

{% block content %} 
<style>
  #reviewButton{
    margin:20px;
  }
</style>
{% if request.user.is_authenticated %}
    <div class="alert alert-primary ml-5 mr-5" role="alert">
      Welcome {{request.user}}!
    </div>
    
{% endif %}

<div class="text-center" id="reviewButton">
  <a class="btn darkBlue btn-lg" href="{% url 'addrating' %}">Add New Review</a>
</div>
    
<div class="container ml-5">
    <div class="row">
        <div class="col-sm-6">
            <div class="card border-secondary" style="width: 34rem;">
                <div class="card-header">
                Best Pho in Wichita
                </div>
                <ul class="list-group list-group-flush">
                <li class="list-group-item"><a href="http://127.0.0.1:8000/restaurant/6/">Pho Cuong</a></li>
                <li class="list-group-item">Asian Bistro</li>
                <li class="list-group-item">Saigon Bistro</li>
                </ul>
            </div>
        </div>


        <div class="col-sm-6">
          <div class="card border-secondary text-center" style="height: 197px;">
            <div class="card-body">
              <h5 class="card-title">Title Card</h5>
              <p class="card-text">Recommend a Place</p>
             
                <button class="btn darkBlue" type="submit" name="recommend">Recommend</button>
            
            </div>
          </div>
        </div>
        
      </div>
    </div>

    
{% endblock %}