{% extends 'restaurants/base.html' %}

{% block title%}Home{%endblock%}

{% block content %} 
<style>

</style>
{% if request.user.is_authenticated %}
    <div class="alert alert-primary ml-5 mr-5" role="alert">
      Welcome {{request.user}}!
    </div>
    
{% endif %}
<!-- 
<div class="text-center" id="reviewButton">
  <a class="btn darkBlue btn-lg" href="{% url 'addrating' %}">Add New Review</a>
</div> -->
    
<div class="container ml-5">
    <div class="row mb-3">
        <div class="col-sm-6">
            <div class="card border-secondary" style="width: 34rem;">
                <div class="card-header">
                Best Pho in Wichita
                </div>
                <ul class="list-group list-group-flush">
                <li class="list-group-item"><a href="http://127.0.0.1:8000/restaurant/6/">Pho Cuong</a></li>
                <li class="list-group-item">Asian Bistro</li>
                <li class="list-group-item">Saigon Bistro</li>
                </ul>
            </div>
        </div>
{% if ratings %}
        <div class="col-sm-6">
          <div class="card border-secondary text-center" style="height: 197px;">
            <div class="card-body">
              <h5 class="card-title">You Might Like...</h5>
              <p class="card-text">Display Top N Recommendations</p>
              <p class="card-text">Filler Text</p>
              <p class="card-text">Links to the restaurant</p>
             
                <!-- <button class="btn darkBlue" type="submit" name="recommend">Recommend</button> -->
            
            </div>
          </div>
        </div>
        {% else %}
        <div class="col-sm-6">
          <div class="card border-secondary text-center" style="height: 197px;">
            <div class="card-body">
              <h5 class="card-title">Popular Amongst Our Users...</h5>
              <p class="card-text">Display Top N Recommendations</p>
              <p class="card-text">Filler Text</p>
              <p class="card-text">Start Reviewing to Receive Personalized Recommendations</p>
             
                <!-- <button class="btn darkBlue" type="submit" name="recommend">Recommend</button> -->
            
            </div>
          </div>
        </div>
        {% endif %}
        
      </div>
      <div class="row d-flex justify-content-center">
        <div class="col-sm-6">
            <div class="card border-info">
                <div class="card-header">
                Featured Content
                </div>
                <ul class="list-group list-group-flush">
                <li class="list-group-item">test 1</li>
                <li class="list-group-item">test 1</li>
                <li class="list-group-item">test 1</li>
                </ul>
            </div>
        </div>
        <div class="card text-bg-info mb-3" style="max-width: 18rem;">
          <div class="card-header">Header</div>
          <div class="card-body">
            <h5 class="card-title">Info card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
      </div>
    </div>
{% endblock %}