<!DOCTYPE html>

<html>
    <head>
    
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!-- BOOTSTRAP -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <!-- END BOOTSTRAP -->
    
        <title>{% block title %}Login{% endblock %}</title>

    </head>
<body>

{% block content %}


<style type="text/css">
    .darkBlue {
        background-color: #1d3557;
        color: white;
      }
    .btn:hover {
        background-color: #457b9d;
        color: white;
      }
    .container div {
        margin: 0 auto;
        display: block;
    }
    .btn {
        display: block;
        margin-right: 500px;
        margin-left: auto;
        width: 100px;
    }
    span {
        display: block;
        text-align: center;
        margin-top: 10px;
    }
    .password, .username {
        margin-top: 20px;
    }
    
</style>

<!-- NAVBAR -->
<nav class="navbar sticky-top navbar-expand-lg navbar-dark pt-3 pb-2 mb-4" style="background-color: #1d3557">
    <a class="navbar-brand ml-3" href="/">Website Name</a>
</nav>

{% if messages %}
        <div class="messages">

            {% for message in messages %}
            <div class="alert alert-danger alert-dismissible fade show" role="alert">{{message}}
            </div>
            {% endfor %}
        </div>
    {% endif %}

{% if page == 'login' %}
<!-- LOGIN FORM -->
<div class="container">
    <h1 class="display-4 text-center">Please Login</h1>
    <hr class="my-4" size="10" color="#d3d3d3" noshade>
    <form method="POST" action="">
    {% csrf_token %}
        <div class="form-group w-25">
            <label class="username">Username </label>
            <input class="form-control" type="text" name="username" placeholder="Username..." />

            <label class="password">Password </label>
            <input class="form-control" type="password" name="password" placeholder="Password..." />
        </div>

        
        <div class="form-group">
            <input class="btn darkBlue mt-4" type="submit" value="Login" />
        </div>

        <span><small class="text-muted">Don't have an account? Create one <a href="{% url 'register' %}">here.</a></small></span>
        

    </form>


</div>
    
   
{% else %}
<!-- REGISTER FORM -->
<div class="container">
    <h1 class="display-4 text-center">Register</h1>
    <hr class="my-4" size="10" color="#d3d3d3" noshade>
    
    <form method="POST" action="">
        {% csrf_token %}
        <div class="form-row mt-5">
            <div class="form-group w-50">
                <div class="col-sm-10 mb-4 ml-5 mr-5">
                    {{form.username}} 
                </div>
            </div>
        </div>

        <div class="form-row">
            <div class="form-group w-50">
                <div class="col-sm-10 mb-4 ml-5 mr-5">
                    {{form.password1}}
                </div>
            </div>
        </div>

        <div class="form-row">
            <div class="form-group w-50">
                <div class="col-sm-10 mb-4 ml-5 mr-5">
                    {{form.password2}}
                </div>
            </div>
        </div>
        

        <span><small class="text-muted">Already have an account? <a href="{% url 'login' %}">Login</a></small></span>
        
        <div class="form-group">
            <input class="btn darkBlue mt-4" type="submit" value="Register" />
        </div>

    </form>
    
    
</div>

{% endif %}
<!-- {% if form.errors %}<p> error </p>{% endif %} -->

{% endblock %}

<!-- BOOTSTRAP -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<!-- END BOOTSTRAP -->

</body>
</html>