{% extends 'restaurants/base.html' %}

{% block title%}My Ratings{%endblock%} 

{% block content %}

<style type="text/css">
  table {
    table-layout: fixed;
    width: 100%;
  }
  thead th:nth-child(1) {
    width: 10%;
  }
  thead th:nth-child(2) {
    width: 10%;
  }
</style>

  <table class="table table-striped table-sm" style="width:500px;">
    <thead class="thead-light">
      <tr>
        <th scope="col" style="width:200px;">Restaurant</th>
        <th scope="col" style="width:150px;">Rating</th>
        <th scope="col" style="width:150px;">Update</th>
      </tr>
    </thead>
    <tbody>
      {% for rating in ratings %}
      <tr>
        <th scope="row">{{rating.restaurant}}</th>
        <td>{{rating.rating}}</td>
        <td>
          <a
            class="btn btn-outline-primary"
            href="{% url 'update-rating' rating.id %}">Edit</a>
          <a
            class="btn btn-outline-danger"
            href="{% url 'delete-rating' rating.id %}">Delete</a>
        </td>
      </tr>
      {% endfor %}
    </tbody>

    {% comment %}
    <h1><a href="{% url 'addrating' %}">Add Rating</a></h1>
    {% endcomment %}
  </table>
{% endblock %} {% comment %}
<ul class="list-group list-group-flush">
  {% for rating in ratings %}

  <li class="list-group-item">
    {{rating.restaurant}} - {{rating.rating}}
    <a
      class="btn btn-outline-primary"
      href="{% url 'update-rating' rating.id %}"
      >Edit</a
    >
    <a class="btn btn-outline-danger" href="{% url 'delete-rating' rating.id %}"
      >Delete</a
    >
  </li>

  {% endfor %} {% comment %}
  <h1><a href="{% url 'addrating' %}">Add Rating</a></h1>
  {% endblock %}
</ul>
{% endcomment %}
