{% extends 'restaurants/base.html' %}

{% block title%}My Ratings{%endblock%} 

{% block content %}
<!-- CHANGE RATINGS TABLE TO DISPLAY REVIEWS AS CARDS -->
<a class="btn btn-outline-primary" href="{% url 'addrating' %}">Add New Review</a>
  <h2>My Reviews</h2>
    {% for rating in ratings%}
      {% if request.user == rating.user %}
        <div class="card text-dark bg-light mb-3" style="max-width: 18rem;">
          <div class="card-header">{{rating.restaurant}}</div>
            <div class="card-body">
              <h5 class="card-title">{{rating.rating}}</h5>
              <p class="card-text">{{rating.review}}</p>
            </div>
        </div> 
      {% endif %}
    {% endfor %}
  
  {% endblock %}
