{% extends 'restaurants/base.html' %}

{% block title%}My Ratings{%endblock%} 

{% block content %}
<!-- MOVE THIS BUTTON -->
<a class="btn btn-outline-primary" href="{% url 'addrating' %}">Add New Review</a>

{% for rating in page_obj %}



  <h1 class="display-4">My Reviews</h1>
    {% for rating in ratings %}
      
        <div class="card text-dark bg-light mb-3" style="max-width: 25rem;">
          <div class="card-header">{{rating.restaurant}}</div>
            <div class="card-body">
              <h5 class="card-title">{{rating.rating}} /10</h5>
              <p class="card-text">{{rating.review}}</p>
            </div>
          
          <div class="card-footer text-muted">{{rating.updated}}
            <div class= "btn-toolbar float-right">
              <a class="btn btn-outline-primary mr-2" href="{% url 'update-rating' rating.id %}">Edit</a>
              <a class="btn btn-outline-danger" href="{% url 'delete-rating' rating.id %}">Delete</a>
            </div>
          </div>
        </div>

        {% empty %}
          <div class="alert alert-light" role="alert"> Oops! Looks like you haven't reviewed anything yet! :( </div>
      
    {% endfor %}

{% endfor %}

<!-- ADD ARIA LABELS FOR ARROWS -->
<nav aria-label="Page navigation">
  <ul class="pagination">
      
    
      {% if page_obj.has_previous %}
      
      <li class="page-item">
      <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
  </li>
      {% endif %}

    
      <span class="current"><li class="page-item"><a class="page-link" href="#">{{page_obj.number}}</a></li></span>


    {% if page_obj.has_next %}
    <span class="current"><li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">{{page_obj.next_page_number}}</a></li></span>
    <li class="page-item">
      <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
    {% endif %}
  </ul>
</nav>

{% endblock %}
