{% extends 'restaurants/base.html' %}
<!-- THIS PAGE NEEDS STYLING -->
<!-- ADD MORE RESTAURANT CONTENT ? -->
{% block content %}
<style>
    .darkBlue {
      background-color: #1d3557;
      color: white;
    }
    .btn-lg:hover {
      background-color: #457b9d;
      color: white;
    }
</style>

<!-- ADD STYLING TO RESTAURANT NAME -->
<div>
    <h1>{{restaurant.name}}</h1>
</div>
<!-- NUMBER OF RATINGS AND AVERAGE RATING -->

<a class="btn darkBlue btn-lg mr-3" href="https://www.google.com/search?q={{restaurant.name}}">Google Search for {{restaurant.name}}</a>

<!-- ADDRESS -->
<!-- SHOW LIST OF REVIEWS -->
 

{% endblock %}