{% extends 'restaurants/base.html' %}
<!-- RESEARCH ALPHABETICAL SORTING -->

<!-- FIX PAGINATION TO SHOW MULTIPLE PAGE NUMBERS (ELIDED) -->

{% block content %}

<style>
  .page-item [href] {
    color: rgb(60, 59, 59);
  }

  .page-link {
    border-color: #747373;
  }

  .page-link:hover {
                background-color: #457b9d;
                color: white;
            }

  #activeItem {
    background-color: #1d3557;
  }
  .list-group-item:hover {
    background-color: #457b9d;
    color: white;
  }
</style>
<body>
<div class="container">


{% for restaurant in page_obj %}
<div class="d-flex justify-content-center">
    <div class="list-group mt-3 w-75">
        <a class="list-group-item list-group-item-action" href="{% url 'restaurant' restaurant.id %}">{{restaurant.name}}</a>
        
    </div></div>
{% endfor %}

<!-- ADD ARIA LABELS FOR ARROWS -->


<nav class="mt-3" aria-label="Page navigation">
  <ul class="pagination justify-content-center flex-wrap mt-2 mb-4">
    {% if page_obj.has_previous %}
        <li class="page-item mr-1"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
    {% else %}
        <li class="page-item mr-1"><a class="page-link">&laquo;</a></li>
    {% endif %}
    {% for i in page_obj.adjusted_elided_pages|default_if_none:page_obj.paginator.get_elided_page_range %}
        {% if page_obj.number == i %}
            <li class="active page-item mr-1"><span class="page-link" id="activeItem">{{ i }} <span class="sr-only">(current)</span></span>
            </li>
        {% else %}
            {% if i == page_obj.paginator.ELLIPSIS %}
                <li class="page-item mr-1"><a class="page-link">{{ i }}</a></li>
            {% else %}
                <li class="page-item mr-1"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
            {% endif %}
        {% endif %}
    {% endfor %}
    {% if page_obj.has_next %}
        <li class="page-item mr-1"><a class="page-link" href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
    {% else %}
        <li class="page-item mr-1"><a class="page-link">&raquo;</a></li>
    {% endif %}
  </ul>     
</nav>
 

</div>
</body>

{% endblock %}