{% extends 'restaurants/base.html' %}

{% block content %}
<style>
  .badge{
    margin-left: 10px;
    background-color: #1d3557;
    color: white;
  }
    .darkBlue {
      background-color: #1d3557;
      color: white;
    }
    .btn-lg .mr-3:hover {
      background-color: #457b9d;
      color: white;
    }
  .left-section {
    position: absolute;
    right: 75%;
    background-color: rgb(229, 229, 229);
    padding: 5px;
    border-radius: 25px;
        }
  #similar-restaurants {
    margin:auto;
  }
</style>

<div>
    <h1 class="display-4 text-center">{{restaurant.name}}<!--<a class="btn darkBlue btn-lg ml-3" href="https://www.google.com/search?q={{restaurant.name}}" target="_blank">Google</a>-->
      {% if reviews %}
      <span class="badge rounded-pill">{{ratingAvg}}&#9733;</span>
      {% endif %}

      <!--ADD ADDRESS FROM SCRAPING?-->
      {% if request.user.is_superuser %}
      <a class="btn btn-danger btn-lg" href="{% url 'delete-restaurant' restaurant.id %}">Delete</a>
      <a class="btn btn-secondary btn-lg" href="{% url 'update-restaurant' restaurant.id %}">Update</a>
      {% endif %}
    </h1>
    <br>
    <div class="d-flex justify-content-center">
      {% if restaurant.tags %}
      <h3><small class="text-muted">{{restaurant.tags}}</small></h3>
      {% endif %}
      <a class="btn darkBlue btn-lg mb-1" href="{% url 'addrating' %}">Add a Review</a>
    </div>
      
</div>

<!-- ADDRESS -->
<!-- SHOW LIST OF REVIEWS -->
{% if reviews %}
<div class="left-section">

  <h1 class="display-4">Reviews {% if ratingCount %} ({{ratingCount}}){% endif %}</h1>

<hr class="my-4" size="10" color="#000000" noshade>

{% for review in reviews|slice:":3" %}
<div class="card text-dark bg-light mb-3" style="max-width: 20rem;">
  <div class="card-header">{{review.user}}</div>
    <div class="card-body">
      <h5 class="card-title">{{review.rating}} /10</h5>
      <p class="card-text">{{review.review}}</p>
    </div>
  <div class="text-muted">{{rating.updated}}</div>
</div>
{% endfor %}

<a class="btn darkBlue mb-1" href="{% url 'all-reviews' restaurant.id %}">See all</a>
</div>
{% endif %}

<!--Add card to display similar restaurants --> 
<div class="col-sm-6" id="similar-restaurants">
  <div class="card border-secondary">
      <div class="card-header">
      Restaurants Similar to {{restaurant.name}}
      </div>
      <ul class="list-group list-group-flush">
      <li class="list-group-item">test 1</li>
      <li class="list-group-item">Test 2</li>
      <li class="list-group-item">Test 3</li>
      </ul>
  </div>
</div>

{% endblock %}