{% extends 'restaurants/base.html' %}
<!-- THIS PAGE NEEDS STYLING -->
<!-- ADD MORE RESTAURANT CONTENT ? -->
{% block content %}
<style>
  .badge{
    margin-left: 10px;
  }
    .darkBlue {
      background-color: #1d3557;
      color: white;
    }
    .btn-lg .mr-3:hover {
      background-color: #457b9d;
      color: white;
    }
    .center {
            position: absolute;
            right: 75%;
        }
</style>

<!-- ADD STYLING TO RESTAURANT NAME -->
<div>
    <h1 class="display-4 text-center">{{restaurant.name}}--{{ratingAvg|floatformat:1}}</h1>
   
    <br>
    
    
</div>
<!-- NUMBER OF RATINGS AND AVERAGE RATING -->
<div class-"container">

<a class="btn darkBlue btn-lg mr-3 ml-3" href="https://www.google.com/search?q={{restaurant.name}}" target="_blank">Google</a>
{% if request.user.is_superuser %}
<a class="btn btn-danger btn-lg" href="{% url 'delete-restaurant' restaurant.id %}">Delete</a>
<a class="btn btn-secondary btn-lg" href="{% url 'update-restaurant' restaurant.id %}">Update</a>
{% endif %}</div>

<!-- ADDRESS -->
<!-- SHOW LIST OF REVIEWS -->
<div class="center">

  <h1 class="display-4">Reviews {% if ratingCount %} ({{ratingCount}}){% endif %}</h1>




<hr class="my-4" size="10" color="#000000" noshade>

{% for review in reviews|slice:":3" %}
<div class="card text-dark bg-light mb-3" style="max-width: 20rem;">
  <div class="card-header">{{review.user}}</div>
    <div class="card-body">
      <h5 class="card-title">{{review.rating}} /10</h5>
      <p class="card-text">{{review.review}}</p>
    </div>
  
  <div class="card-footer text-muted">{{rating.updated}}</div>
</div>
{% endfor %}
<a class="btn darkBlue mb-1" href="{% url 'all-reviews' restaurant.id %}">See all</a>
</div>
 

{% endblock %}