{% extends 'restaurants/base.html' %}


<!-- FIX PAGINATION TO SHOW MULTIPLE PAGE NUMBERS (ELIDED) -->
{% block content %}
<style>
  .alert {
    text-align: center;
  }
  .list-group-item:hover {
    background-color: #457b9d;
    color: white;
  }
</style>
{% if searched_restaurants %}
<div class="d-flex justify-content-center">
<div class="alert alert-primary ml-5 mb-5 mr-5 w-75" role="alert">
    Search results for '{{search}}'
</div></div>


<div class="container">
{% for restaurant in searched_restaurants %}
<div class="d-flex justify-content-center">
    <div class="list-group mt-3 w-75">
        <a class="list-group-item list-group-item-action" href="{% url 'restaurant' restaurant.id %}">{{restaurant.name}}</a>
    </div></div>
{% endfor %}
<!-- ADD ARIA LABELS FOR ARROWS -->


<nav class="mt-3" aria-label="Page navigation">
    <ul class="pagination">
        
      
        {% if page_obj.has_previous %}
        <span class="mr-1">
        <li class="page-item">
        <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
        </a>
    </li></span>
        {% endif %}

      
        
      {% for num in page_obj.paginator.page_range %}
        {% if page_obj.number == num %}
          <a href="?page={{ num }}">{{ num }}</a>
        {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
          <a href="?page={{ num }}">{{ num }}</a>
        {% endif %}
      {% endfor %}


      {% if page_obj.has_next %}
      <span class="current mr-1"><li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">{{page_obj.next_page_number}}</a></li></span>
      <li class="page-item">
        <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
      {% endif %}

    </ul>
  </nav>

</div>

{% else %}
<div class="alert alert-info ml-5 mb-5 mr-5" role="alert">
  No results for '{{search}}'
</div>
{% endif %}

{% endblock %}