{% extends 'restaurants/base.html' %}

{% block title%}Home{%endblock%}

{% block content %} 
<style>

</style>
{% if request.user.is_authenticated %}
    <div class="alert alert-primary ml-5 mr-5" role="alert">
      Welcome {{request.user}}!
    </div>
    
{% endif %}
<!-- 
<div class="text-center" id="reviewButton">
  <a class="btn darkBlue btn-lg" href="{% url 'addrating' %}">Add New Review</a>
</div> -->
    
<div class="container ml-5">
    <div class="row mb-3">
        <div class="col-sm-6">
            <div class="card border-secondary" style="width: 34rem;">
                <div class="card-header">
                What Cass recommends at <a href="http://127.0.0.1:8000/restaurant/6/">Pho Cuong</a><!-- ADD HIGHEST RATED RESTAURANTS TO LIST? -->
                </div>
                <ul class="list-group list-group-flush">
                <li class="list-group-item">Pho Tai Bo Vien</li>
                <li class="list-group-item">Vietnamese Coffee</li>
                <li class="list-group-item">Banh Mi Thit Nuong</li>
                </ul>
            </div>
        </div>
{% if ratings %}
        <div class="col-sm-6">
          <div class="card border-secondary text-center" style="height: 197px;">
            <div class="card-body">
              <h5 class="card-title">Based off your reviews, you might like...</h5>
              {% for i in recs %}
              <p class="card-text">{{i.name}}</p>
              {% endfor %}
            
            </div>
          </div>
        </div>
      </div>
        {% else %}
        <div class="col-sm-6">
          <div class="card border-secondary text-center" style="height: 197px;">
            <div class="card-body">
              <h5 class="card-title">Popular Amongst Our Users...</h5>
              <p class="card-text">NO REVIEWS - start rating to see content!</p>
              <!-- {% for a in avgs %}
              <p class="card-text">{{a}}</p>
              {% endfor %} -->
            </div>
          </div>
        </div>
      </div>
      <div class="row d-flex justify-content-center">
        <div class="col-sm-6">
            <div class="card border-info">
                <div class="card-header">
                Cassidy's Favorite Local Spots
                </div>
                <ul class="list-group list-group-flush">
                <li class="list-group-item">The Monarch</li>
                <li class="list-group-item">Pho Cuong</li>
                <li class="list-group-item">Yokohama Ramen</li>
                </ul>
            </div>
        </div>
      </div>
    </div>
        {% endif %}
        
      
{% endblock %}